---
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Theme from '../components/Theme.astro';
import EventDetails from '../components/EventDetails.astro';
import Highlights from '../components/Highlights.astro';
import Schedule from '../components/Schedule.astro';
import Sponsors from '../components/Sponsors.astro';
import SponsorUs from '../components/SponsorUs.astro';
import Chatbot from '../components/Chatbot.astro';
import Contact from '../components/Contact.astro';
import LeaveMessage from '../components/LeaveMessage.astro';
import Footer from '../components/Footer.astro';

import "../styles/index.css";
---

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="HackLumina'25 - Solarpunk Hackathon">
  <meta name="keywords" content="Hackathon, Solarpunk, Coding, Technology, Students">
  <meta name="author" content="HackLumina Team">
  <title>HackLumina'25 - Solarpunk Hackathon</title>
</head>

<Hero />
<About />
<Theme />
<EventDetails />
<Highlights />
<Schedule />
<Sponsors />
<SponsorUs />
<Chatbot />
<Contact />
<LeaveMessage />
<Footer />
