---
const description = "is an exciting 36-hour in-person hackathon scheduled for May 2025 in Delhi/NCR, designed to inspire students of all levels to dive into the world of coding. Whether you're completely new to programming or already have some experience, this event is all about learning, collaborating, and having fun while discovering the endless opportunities technology has to offer. Join us for an unforgettable day of creativity, learning, and hands-on coding!";
---

<section class="section">
  <div class="subsection">
    <h2>What's HackLumina?</h2>
    <p><strong>HackLumina</strong>{description} </p>
  </div>
</section>
