<section class="section">
  <div class="subsection">
    <h2>Contact Us</h2>
    <p>If you have any questions or need further information, feel free to reach out to us:</p>
    <table class="contact-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Work</th>
          <th class="email">Email</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Angad</td>
          <td>Logistics and Sponsorship</td>
          <td class="emails"><a href="mailto:angad@hacklumina.tech">angad@hacklumina.tech</a></td>
        </tr>
        <tr>
          <td>Shrey</td>
          <td>Logistics and Ground Ops</td>
          <td class="emails"><a href="mailto:shrey@hacklumina.tech">shrey@hacklumina.tech</a></td>
        </tr>
        <tr>
          <td>Kavish</td>
          <td>Technical Support and Sponsorship</td>
          <td class="emails"><a href="mailto:kavish@hacklumina.tech">kavish@hacklumina.tech</a></td>
        </tr>
        <tr>
          <td>Manan</td>
          <td>Technical Support and Workshops</td>
          <td class="emails"><a href="mailto:manan@hacklumina.tech">manan@hacklumina.tech</a></td>
        </tr>
        <tr>
          <td>Org</td>
          <td></td>
          <td class="emails"><a href="mailto:contact@hacklumina.tech">contact@hacklumina.tech</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
