---
const venue = "TBD";
const date = "TBD";
const time = "TBD";
---

<section class="section">
  <div class="subsection">
    <h2>Event Details</h2>
    <p>
      Venue: {venue}<br>
      Date: {date}<br>
      Time: {time}<br>
      Registration Fee: Free!<br><br>
      Stay tuned for more updates!
    </p>
  </div>
</section>
