<footer>
  <p>&copy; HackLumina <a href="https://x.com/hackluminatech">Twitter</a> <a href="https://www.instagram.com/hacklumina.tech/">Instagram</a> <a>LinkedIn</a></p>
</footer>

<button class="audio-ctrl" id="audioCtrl">
  <img id="audioImg" src="https://static.thenounproject.com/png/1680900-200.png" alt="Audio Off">
</button>

<audio id="bgAudio" loop>
  <source src="https://cloud-7t8mdg5i3-hack-club-bot.vercel.app/0minecraft_theme_song_-_mice_on_venus_-_no_copyright__qkkykgm1w_e_.mp3" type="audio/mpeg">
  Your browser does not support the audio element.
</audio>
