<script src="/src/scripts/LeaveMessage.js" client:load></script>
<section class="section">
  <div class="subsection">
    <h2>Leave a message</h2>
    <p>Write if you have any query, we'll try to reach out to you as soon as possible!</p>
    <div class="conForm">
    <input placeholder="Name" id="nameIn"></input>
    <input placeholder="Email" id="emailIn"></input>
    <textarea placeholder="Message" id="msgIn"></textarea>
    <button class="subButton" id="subBtn">Submit!</button>
    </div>
  </div>
</section>
