---
import { Image } from 'astro:assets';
import saralTechLogo from '../assets/sponsors/saral-tech.png';

const sponsors = [
  {
    name: "Saral Technologies",
    logo: saralTechLogo,
  },
];
---

<section class="section">
  <div class="subsection">
    <h2>Our Sponsors</h2>
    <p>The people who are making this amazing event possible!</p>
    <div class="sponsors">
      {sponsors.map(({ name, logo, alt }) => (
        <div class="sponsor" style="font-size: 1.5rem;">
          <Image src={logo} alt={name} style={{ width: "12rem", height: "auto" }} />
          {name}
        </div>
      ))}
    </div>
  </div>
</section>
