<section class="sponsor-us">
    <h2>Become a Sponsor</h2>
    <a href="/sponsor.pdf" download>Download Prospectus</a>
</section>

<style>
.sponsor-us {
    text-align: center;
    padding: 3rem;
    background: #eef;
}
a {
    font-size: 1.2rem;
    color: blue;
    text-decoration: none;
}
</style>
