<section class="section">
  <div class="subsection">
    <h2>Sponsor Us</h2>
    <a href="/src/content/prospectus/HackLumina Prospectus.pdf" style="text-decoration: none;"><button class="pros-button">Our Prospectus</button></a>
  </div>
</section>
