---
const description = "The theme of HackLumina is Solarpunk! The main event theme of HackLumina is Solarpunk! Now you must be thinking alright nice,But what the heck is Solarpunk? No problem blummy's here to answer you! But to get the answer, you'll have to find me :], i'm a lil cute robo who'll give you a flower, but remember i'm too fast...";
---

<section class="section">
  <div class="subsection">
    <h2>Theme</h2>
    <p>{description}</p>
  </div>
</section>
